body{
     background-color: 	#9EC6F3
}
div{
    margin:0;
    text-align: center;
}

#Question{
    font-size: 3rem;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    border-width: thin medium;
    display: block;
    margin: auto;

     padding: 1px;
}

#Instructions{
     font-size: 2rem; 
     text-align: center;;
}

#correct{
    color:green;
}
#wrong{
    color:red;
}
#total{
    font-size:2rem;
    color: 	#FDDD5C;
}

#tryAgain{
    background-color: #FF6663;
    color:black;
    font-weight: bold;
}

#tryAgain:hover{
    background-color: 	#fdaaaa;
    color:black;
    font-weight: bold;
}

#results{
font-size: 2rem;
font-weight: bold;
}

#round{
font-size: 2rem ;
text-align: center;
font-weight: bold ;
}
button{
border-radius: 8px;
width: fit-content;
height:2rem;
text-align: center;
font-size: 1rem;
background-color: black;
color:white;
margin: 0px, 0px, 20px, 0px;
display: block;
margin: auto;
}

button:hover {
    background-color: black;
    color: Grey;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    outline: none;
}

a:focus {
    outline: none;
}